/*当前页面布局样式开始////////////////////////////////////////////////////////////////////////////////////////////////////*/
body{font-size:14px;font-family: Arial, Helvetica, sans-serif;color:#333;}
body a{text-decoration:none;color:#333;}
/*当前页面布局样式结束////////////////////////////////////////////////////////////////////////////////////////////////////*
/*添加客服对话框样式开始/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.CustomerServices_Input{opacity: 0;}
.CustomerServices_Img{position: absolute;width:30px;height:30px;cursor:pointer;padding:0px;color:white;border-radius:3px;} 
/*添加客服对话框样式结束/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/